# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo


# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

# Whitelist approach
/*
!.gitignore
!README.md
!requirements.txt
!setup.py
!src/
!src/**
!data/
!data/**

# big files to ignore
data/analytics/
data/embeddings/
data/raw/old/
data/results/figures_L5/


